<a href="https://colab.research.google.com/github/yash850/CRT-Program/blob/master/06_12_2019_AN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# read the two numbers as input and print the output as the numbers which is perfectly divisible by 3 and 5
# test cases :
    1 15 -- 15
    15 45 -- 15 30 45 
#include<stdio.h>
int main()
{
	int x1,x2;
	scanf("%d%d",&x1,&x2);
	while(x1<=x2)
	{
		if(x1%3==0 && x1%5==0)
		{
			printf("%d",x1);
		}
		x1++;
	}
	return 0;
}

In [0]:
# read the number as input and print the output as digits of the number
# test cases :
    145 -- 5 4 1
    1889 -- 9 8 8 1
#include<stdio.h>
int main()
{
	int x,r;
	scanf("%d",&x);
	while(x!=0)
	{
		r=x%10;
		printf("%d",r);
		x=x/10;
	}
	return 0;
}

In [0]:
# read the number as input and print the output as only the sum of even digits in the given number
# test cases
     1889 -- 16
     145 -- 4
     1591 -- 0
#include<stdio.h>
int main()
{
	int x,r,s=0;
	scanf("%d",&x);
	while(x!=0)
	{
		r=x%10;
		if(r%2==0)
		{
			s=s+r;
		}
		x=x/10;
	}
	printf("%d",s);
	return 0;
}

In [0]:
# read the input as number and print the output in following order
# test cases :
    1889 -- nine eight eight one
    1520 -- zero two five one
    9852 -- two five eight nine
#include<stdio.h>
int main()
{
	int x,r,s=0;
	scanf("%d",&x);
	while(x!=0)
	{
		r=x%10;
		switch(r)
		{
			case 0:printf("zero");
			break;
			case 1:printf("one");
			break;
			case 2:printf("two");
			break;
			case 3:printf("three");
			break;
		}
		printf("%d",x);
		x=x/10;
	}
	return 0;
}

In [0]:
# read the input as number and print the output in the following manner
# test cases:
     98254 -- <2,9>
     57415 -- <1,7>
#include<stdio.h>
int main()
{
	int x,r,large=0,small=9;
	scanf("%d",&x);
	while(x!=0)
	{
		r=x%10;
		if(large<r)
		{
			large = r;
		}
		if(small>r)
		{
			small = r;
		}
		x/=10;
	}
	printf("<%d,%d>",small,large);
	return 0;
}

In [0]:
# read the input as a number and print the output in the folowing manner
# test cases :
     1889 -- 5
     666 -- 3
     4756 -- 3
     1591 -- 1
# reason for the output is each circle will cost of 1 unit and triangle cost of 2 units
#include<stdio.h>
int main()
{
	int x,r,s=0;
	scanf("%d",&x);
	while(x!=0)
	{
		r=x%10;
		if(r == 8)
		{
			s += 2;
		}
		else if(r == 0||r == 6||r == 9)
		{
			s += 1;
		}
		else if(r == 4)
		{
			s += 2;
		}
		x/=10;
	}
	printf("%d",s);
	return 0;
}

In [0]:
# read the number as input and print whether the number is "palindrome" or "not a palindrome"
# test cases :
     141 -- palindrome
     145 -- not a palindrome
     1991 -- palindrome