<a href="https://colab.research.google.com/github/yash850/CRT-Program/blob/master/5_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=[1,2,3,4,5]
print(len(a))

5

In [2]:
a[3]=12 # update the list item value
print(a)

[1, 2, 3, 12, 5]

In [3]:
del a[4]
print(a)

[1, 2, 3, 12]

# list and list related examples

In [6]:
print(a[-3]) # to access the last value of set

2

In [7]:
print(a[1:3])

[2, 3]

In [8]:
print(a[0:6])

[1, 2, 3, 12]

In [11]:
### methods of list
print(sum(a)) # sum of the list
print(max(a)) # amximum value of the list
print(min(a)) # minimum value of the list
print(sum(a)//len(a)) # avg

18
12
1
4

In [12]:
# list methods
a.append(200) # append will insert the new values to a list
a

[1, 2, 3, 12, 200]

In [16]:
a.insert(3,60) # adding value at paticular position
a

[1, 2, 3, 60, 12, 200]

In [17]:
a.count(12) # counts the number of such values in a list

1

In [18]:
a.index(12) # gives the index of specified value

4

In [21]:
a.sort() # gives the list in ascending order
a

[1, 2, 3, 12, 60, 200]

In [22]:
a.pop() # removes the item of last index

200

In [23]:
a

[1, 2, 3, 12, 60]

In [24]:
a.pop(4)
a

[1, 2, 3, 12]

In [25]:
# show the second largest value of list
# a=[1,9,16,25,2,3,65]
# output=25
def secondLarge(a):
    a.sort()
    return a[-2]
a=[1,9,16,25,2,3,65]
secondLarge(a)

25

In [29]:
def genericLarge(a,n):
    a.sort()
    return a[-n]
genericLarge(a,3)

16

In [30]:
def genericLeast(a,n):
    a.sort()
    return a[-n]
genericLeast(a,0)

1

## *Number to List Conversion*
   - 135792468 - [1,3,5,7,9,2,4,6,8]

In [33]:
def numbertoList (n):
    a=[] # Empty set
    while n!=0:
        r=n%10
        a.append(r)
        n=n//10
    a.reverse()
    return a
numbertoList(135792468)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

# Data Structures-Tuples
  - it is similar to list object
  - list will be enclosed in square brackets[] and tuples
  - will be enclosed with in paraenthsis()
  - list can be increased/decreased and tuples is fixed so that
  - you can't increase and decrease the tuple
  - it means list is mutable and tuple is immutable
     - used for only reading

In [34]:
t1=(1,1,5,9,2)
t1

(1, 1, 5, 9, 2)

In [35]:
t1[0:4]

(1, 1, 5, 9)

In [38]:
t1.count(1)

2

In [39]:
t1.index(5)

2

# Data Structure-Dictionaries
  - this data structure object is works on set of keys and
  - there will be unique key set will be defined
  - every key is seperated from its value by colon(:)
  - every key and value pair is seperated by comma(,)
  - it is defined in curl brackets{}

In [40]:
# define the dict d1{}
d1={'name': 'yash',  'emailID': 'yashwanthy234@gmail.com', 'mobile number': '1234'}
print(d1['mobile number']) # to access the specific key value

1234

In [41]:
d1['mobile number'] = 4321
d1

{'emailID': 'yashwanthy234@gmail.com', 'mobile number': 4321, 'name': 'yash'}

# Contact Application
  - used concepts : Dict,list and Tuples
# Modules of Contact Application
  - Add contact
  - search contact
  - import the new contacts
  - update the contact details
  - delete the contact details

In [42]:
contacts ={} # Empty Dict Object
# Define the function for Add contacts
def addContacts(name,phone):
    if name not in contacts:
         contacts[name] =phone
         print("contact added")
    else :
         print("contact is not added")
    return
addContacts('nihal',9876543214) # contact is added
addContacts('pavan',7890345256) # contact is added
addContacts('dhanesh',8907544322) # contact is not added

contact added
contact added
contact added

In [51]:
contacts

{'dhanesh': 8907544322,
 'nihal': 9876543214,
 'pavan': 7890345256,
 'phani': 9999933333,
 'tilak': 8888833333}

In [45]:
# Define function for search contact
def searchContact(name):
    if name in contacts:
         print(name, " : ", contacts[name])
    else:
         print('contact is not present')
    return
searchContact('nihal') # nihal: 9876543214
searchContact('pavan') # pavan :7890345256
searchContact('vineeth') # contact is not present

nihal  :  9876543214
pavan  :  7890345256
contact is not present

In [50]:
# Define the function for import the new contacts
def importContacts(newcontacts):
    contacts.update(newcontacts)
    print('new contacts are added')
    return
newcontacts = {"phani":9999933333,"tilak":8888833333}
importContacts(newcontacts)

new contacts are added

In [54]:
# Define a function for update details
def updateDetails(name,phone):
    if name in contacts:
        contacts[name] = phone
        print('contact update is successful')
    else:
        print('please add new contact details')  
    return
updateDetails('phani', 3333399999)
updateDetails('tilak', 3333388888)

contact update is successful
contact update is successful

In [57]:
# Define function to delete the contact details
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print('contact is deleted')
    else:
        print('contact is not presented')    
    return
deleteContact('phani')
deleteContact('tilak')

contact is deleted
contact is deleted

In [58]:
contacts

{'dhanesh': 8907544322, 'nihal': 9876543214, 'pavan': 7890345256}

# String to List Conversion
  - "1 2 3 4 5 6" - [1,2,3,4,5,6]

In [59]:
a= input('enter the numbers')
print(type(a))
print(a)

enter the numbers1 2 3 4 5 6
<class 'str'>
1 2 3 4 5 6

In [62]:
s="application test working"
li = s.split()
print(li)

['application', 'test', 'working']

In [67]:
s1 ="gitam hyderabad python programming"
li1=s1.split('a')
print(li1)

['git', 'm hyder', 'b', 'd python progr', 'mming']

In [71]:
# define a function to convert the string to liat
def stringToList(s):
    li = s.split()
    numberList=[]
    for i in li:
         numberList.append(int(i))
    return numberList
stringToList('1 2 3 4 5 6')

[1, 2, 3, 4, 5, 6]